<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctrl.education.dao.QzCouChapterSectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctrl.education.model.QzCouChapterSection">
        <id column="id" property="id"/>
        <result column="chapter_id" property="chapterId"/>
        <result column="sec_name" property="secName"/>
        <result column="length_time" property="lengthTime"/>
        <result column="sort" property="sort"/>
        <result column="cou_id" property="couId"/>
        <result column="state" property="state"/>
        <result column="type" property="type"/>
        <result column="file_url" property="fileUrl"/>
        <result column="sys_code" property="sysCode"/>
        <result column="sys_user_id" property="sysUserId"/>
    </resultMap>
    <insert id="addChapterSection" parameterType="com.ctrl.education.model.QzCouChapterSection" useGeneratedKeys="true" keyProperty="id">
        insert into qz_cou_chapter_section
        values (#{id},#{chapterId},#{secName},#{lengthTime},#{sort},#{sysCode},#{couId},#{type},#{fileUrl},#{state},#{sysUserId})
    </insert>
</mapper>
