<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctrl.education.dao.QzInformationTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctrl.education.model.QzInformationType">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="state" property="state" />
    </resultMap>
    <select id="tree" resultType="com.ctrl.education.core.node.ZTreeNode">

		 SELECT
        m1.id AS id,
        m1.name as name,
        m1.sort,
        IFNULL(m1.pid,0) AS pid,
        (
        CASE
        WHEN (m2.id = 0 OR m2.id IS NULL) THEN
        'true'
        ELSE
        'false'
        END
        ) AS isOpen
        FROM
        qz_information_type m1
        LEFT JOIN qz_information_type m2 ON m1.pid = m2.id
        order by m1.sort desc
    </select>
    <select id="selectQzInformationTypeById" resultType="java.util.Map">
         SELECT
            a.name,
            a.id,
            a.pid,
            a.sort,
            a.state,
            CASE
              a.pid
              WHEN "0"
              THEN "顶级"
              ELSE
              (SELECT
                b.name
              FROM
                qz_information_type b
              WHERE a.pid = b.id)
            END AS pName
          FROM
            qz_information_type a
            WHERE a.id = #{id}
             order by a.sort desc
    </select>
</mapper>
