<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctrl.education.dao.SysDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctrl.education.model.SysDict">
        <id column="id" property="id" />
        <result column="type_id" property="typeId" />
        <result column="parent_id" property="parentId" />
        <result column="label" property="label" />
        <result column="value" property="value" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
    </resultMap>
    <resultMap id="getDictsByTypeNameResultMap" type="com.ctrl.education.dto.SysDictDto">
        <id column="id" property="id"/>
        <result column="label" property="label"/>
        <result column="value" property="value"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type_id AS typeId, parent_id AS parentId, label, value, sort, remark
    </sql>
    <select id="getDictsByTypeName" resultMap="getDictsByTypeNameResultMap">
        SELECT
            sd.id, sd.label, sd.`value`
        FROM
            sys_dict sd
            LEFT JOIN sys_dict_type sdt ON sd.type_id = sdt.id
        WHERE
            sdt.`name` = #{typeName}
    </select>
</mapper>
