<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctrl.education.dao.SysPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctrl.education.model.SysPost">
        <result column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="post_name" property="postName"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <select id="tree" resultType="com.ctrl.education.core.node.ZTreeNode">
		 SELECT
        m1.id AS id,
        m1.post_name as name,
        IFNULL(m1.pid,0) AS pid,
        (
        CASE
        WHEN (m2.id = 0 OR m2.id IS NULL) THEN
        'true'
        ELSE
        'false'
        END
        ) AS isOpen
        FROM
        sys_post m1
        LEFT JOIN sys_post m2 ON m1.pid = m2.id
    </select>
    <select id="selectPostById" resultType="java.util.Map">
         SELECT
            a.post_name as postName,
            a.id,
            a.pid,
            a.sort,
            CASE
              a.pid
              WHEN "0"
              THEN "顶级"
              ELSE
              (SELECT
                b.post_name
              FROM
                sys_post b
              WHERE a.pid = b.id)
            END AS pName
          FROM
            sys_post a
            WHERE a.id = #{id}
    </select>

    <select id="postTreeList" resultType="com.ctrl.education.core.node.ZTreeNode">
        select id "id",pId
        "pId",post_name as "name",(case when (pId=0 or pId is null) then 'true'
        else 'false' end) "open" from sys_post
    </select>
    <select id="postTreeListByUserId" resultType="com.ctrl.education.core.node.ZTreeNode">
      <!--  SELECT
        r.id "id",
        pId "pId",
        post_name AS "name",
        (
        CASE
        WHEN (pId = 0 OR pId IS NULL) THEN
        'true'
        ELSE
        'false'
        END
        ) "open",
        (
        CASE
        WHEN ( r1.id IS NULL) THEN
        'false'
        ELSE
        'true'
        END
        ) "checked"
        FROM
        sys_post r
        LEFT JOIN (
        SELECT
        id
        FROM
        sys_post
        WHERE
        id IN

        <foreach collection="array" index="index" item="i" open="(" separator="," close=")">
            #{i}
        </foreach>

        ) r1 ON r.id = r1.id-->
        SELECT
        a.id,
        a.pid,
        a.post_name AS name,
        (
        CASE
        WHEN (a.id = 0
        OR a.id IS NULL)
        THEN 'true'
        ELSE 'false'
        END
        ) AS isOpen,
        (
        CASE
        WHEN (ISNULL(p2.post_id))
        THEN "false"
        ELSE "true"
        END
        ) "checked"
        FROM
        sys_post AS a
        LEFT JOIN
        (SELECT
        r.user_id,
        r.post_id
        FROM
        sys_user_post r
        WHERE r.user_id = #{userId}) AS p2
        ON a.id = p2.post_id
    </select>
    <select id="postSelect" resultType="map">
        select id,post_name as postName from sys_post
    </select>
</mapper>
