<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctrl.education.dao.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ctrl.education.model.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="realname" property="realname" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="role_id" property="roleId" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="office_id" property="officeId" />
        <result column="last_login_time" property="lastLoginTime" />
    </resultMap>

</mapper>
